@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins);
  --font-quicksand: var(--font-quicksand);
  --font-montserrat: var(--font-montserrat);
  --font-manrope: var(--font-manrope)
}

html {
  scroll-behavior: smooth;
}
